.slider{
    display: block;
    width: 100%;
    float: left;
    position: relative;
}

.slider .slider_item{
   display: block;
   float: left;
   width: 1150px;
   height: 300px;
   background-size: cover;
   background-position: center;
   background-color: #fff;
   position: absolute;
   transition-property: all;
   transition-duration: .5s;
   transition-timing-function: ease-in;
   transition-delay: 0.3s;
   opacity: 0;
}

.slider .slider_item.active{
   opacity: 1;
}

.slider .slider_item img{
   width: 100%;
   display: block;
   float: left;
}

.slider .slider_box{
   float: left;
   width: 100%;
   height: 100%;
   position: relative;
}

.slider .slider_content{
   display: block;
   float: left;
   width: 100%;
   height: 100%;
   padding:150px 20% 15px 20%;
   background: rgba(0, 0, 0, 0.38);
   position: absolute;
   bottom: 0;
   left: 0;
   text-align: center;
}

.slider  h1,
.slider p{
   font-family: 'SEGOEUI', sans-serif;
   text-shadow: 2px 2px 2px #000;
   position: relative;
   top: -75px;
   opacity: 0;
}


.slider .slider_content h1{
   font-size: 20px;
   color: #fff;
   text-transform: uppercase;
   padding-bottom: 45px;
   margin-top: -65px;
   font-weight: bold;
   transition-property: all;
   transition-duration: .8s;
   transition-timing-function: ease-in;
   transition-delay: 0.3s;
}

.slider .slider_content p{
   display: block;
   float: left;
   width: 100%;
   color: #fff;
   font-size: 15px;
   font-weight: lighter;
    margin-top: -10px;
   text-align: center;
   transition-property: all;
   transition-duration: .8s;
   transition-timing-function: ease-in;
   transition-delay: 0.8s;
}

.slider .slider_content span{
    font-weight: bold;
}

.slider .active h1,
.slider .active p{
   top: 0;
   opacity:1;	
}

.slider-next,
.slider-prev{
   width: 50px;
   height: 50px;
   color: #fff;
   text-align: center;
   font-size: 20px;
   line-height: 50px;
   font-weight: lighter;
   border-radius: 300px;
   background: rgba(0, 0, 0, 0.5);
   position: absolute;
   top:120px;
   left: 15px;
   z-index: 99;
}
.slider-next{
   right: 15px;
   left: auto;
   z-index: 100;
}
.slider-next:hover,
.slider-prev:hover{
   background: rgba(0, 0, 0, 0.8);
   transition-property: all;
   transition-duration: .5s;
   transition-timing-function: ease-out;
   transition-delay: 0.2s;
   cursor: pointer;
}


@media all and (max-width: 1024px){
    .slider-next,
    .slider-prev{           
      top:280px;
  }
  .slider .slider_content{
      padding-left: 10%;
      padding-right: 10%;
  }
  .slider .slider_content h1{
      font-size: 3em;
  }
  .slider .slider_content p{
      font-size: 1.6em;
  }

}
@media all and (max-width: 768px){
   .slider-next,
   .slider-prev{
      top:220px;
      width: 45px;
      height: 45px;
      line-height: 45px;
      font-size: 2em;
  }
  .slider .slider_item{
      height: 400px;
  }
  .slider .slider_content{
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 105px;
  }
  .slider .slider_content h1{
      font-size: 2em;
  }
  .slider .slider_content p{
      font-size: 1.3em;
  }
}
@media all and (max-width: 667px){
   .slider-next,
   .slider-prev{
      top:180px;
      width: 45px;
      height: 45px;
      line-height: 45px;
      font-size: 2em;
  }
  .slider .slider_item{
      height: 400px;
  }
  .slider .slider_content{
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 80px;
  }
  .slider .slider_content h1{
      font-size: 2em;
  }
  .slider .slider_content p{
      font-size: 1.2em;
  }
}


