

/* Footer */

#featured{
	margin-right:-20px;
	padding-left: 90px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

#featured #fbox
{
	width: 190px;
	background-color: #E8E8E8;
	padding-top: 8px;
	text-align: center;
}

#featured #equipe
{
	width: 190px;
	height: 270px;
	background-color: #E8E8E8;
	padding-top: 8px;
	text-align: center;
}


#featured img
{
	border-radius: 70px;
}

#featured p
{
	text-align: center;
	margin-top: -15px;	
}

#featured h2
{
	padding: 0px 0px 5px 0px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.10em;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	color: #002752;
}
.rede{
	height: 40px;
	width: 40px;
	float: left;
	border:solid 0px;
    border-style: solid;
    margin-left: 20px;
    margin-bottom: 5px;
}
.rede a:hover{
cursor: pointer;
transform: translateY(-10px);
display: block;
overflow: hidden;
border-radius: 50px;
transition: all 0.4s ease-out;
box-shadow: 4px 30px 16px 0px rgba(50,50,50, 0.45);
}

#featured a:hover{
cursor: pointer;
display: block;
overflow: hidden;
transition: all 0.30s ease-out;
box-shadow: 4px 30px 16px 0px rgba(50,50,50, 0.45);
}

#colaboradores{
	margin-top: 20px;
}

#colaboradores_linha2{
	margin-top: 40px;
}

.colab{	
	margin-left:26px;
	padding: 10px;
	box-shadow: 0px 0px 4px 0.5px #4e555b;
}

.colab img{
	width:50px;
	height:50px;
	margin-right:10px;
}
















