body{
    border-top:0;
    /*background:#c4e17f;
    background-image:-webkit-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);background-image:-moz-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);background-image:-o-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);background-image:linear-gradient(to right,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4)*/
}

#app{
    width: 100%;
    height: auto;
    position: absolute;
    /*background-color: #002752;*/
}

#cabecalho{
    padding: 0px;
}


#linha-titulo-site{
    right: 0;
    left: 0;
    background-color: #002752;
}

.logo-site{
    margin-top: 15px;
    margin-bottom: 15px;
}


#titulo-site h3{
    color: #fefefe;
    margin-left: -10px;

}

#linha-menu{
    background-color: #005cbf;
}

#myTopnav{
    float: right;
}

.topnav{
    overflow: hidden;
}

.topnav a{
    float: left;
    display: block;
    color: #fefefe;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 15px;
}

.topnav a:hover{
    color: #6892ff;
}

.active{
    /*background-color: #002752;*/
    /*color: #fefefe;*/
    /*font-size: 25px;*/
    font-weight: bold;
}

.topnav .icon{
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

#principais-selecoes{
    height: 480px;
    padding: 15px 15px;
    margin-top: 10px;
}

#col-1-img-selecoes{
    width: 125px;
    /*margin-left: 15px;*/
}
#col-2-img-selecoes{
    width: 125px;
    margin-left: 15px;
}

#img-selecao-grande {
    background-color: #002752;
    width: 830px;
    height: 390px;
    margin: 5px;
    margin-left: 30px;
    border-radius: 3px;
    padding: 0;
    overflow: hidden;
}

#img-selecao-grande img{
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#img-selecao-grande:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .5;
}

#img-selecao-grande:hover .text-item {
    color: #17a2b8;
    padding-bottom: 40px;
    font-size: 35px;

}

#img-selecao-grande:hover .saiba-mais-principais{
    margin-bottom: 30px;
}

.text-item {
    position: sticky;
    margin-left: 40px;
    bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    text-shadow: 0 0px 15px rgba(0, 0, 0, 1);
}

.saiba-mais-principais{
    position: absolute;
    bottom: 20px;
    left: 5%;
    color: #002752;
    font-weight: 500;
    text-decoration: none;
    background-color:#fefefe;
    padding: 5px;
    border-radius: 3px;
}


.img-selecao{
    background-color: #002752;
    width: 130px;
    height: 90px;
    margin: 5px 0px;
    padding: 0;
    border-radius: 3px;
}

.img-selecao:hover {
    background-color: black;
}

.img-mini-selecao{
    width: 130px;
    height: 90px;
    opacity: .5;
    border-radius: 3px;
}

.img-selecao p{
    color: #fefefe;
    margin: 10px;
    position: absolute;
    font-weight: bold;
}

#slide{
    width: 100%;
    height: 400px;
    background-color: #6c757d;
}



.titulo-pagina{
    color: #002752;
    padding: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}

.linha-titulo-pagina{
    border: solid 0.5px #002752;
    width: 96%;
    margin-left: 5px;
    margin-top: -15px;
    margin-bottom: 10px;
}

#grupo{
    height: 250px;
    width: 250px;
    border-radius: 50px;
    margin-left: 27px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px 1px #4e555b;
    background-image: url(../img/bkgd-grupos.png);

}

#grupo h5{
    width: 100%;
    display: block;
    color: #005cbf;
    border-radius: 5px 5px 0px 0px;
    font-size: 20px;
    line-height:  25px;
    padding: 0 5px;
    margin-top: 0;
    margin-bottom: -10px;
    text-align: center;
}

#grupo hr{
    border: solid 0.5px #005cbf;
}

#grupo img{
    width: 90px;
    margin-top: -20px;
    margin-left: 20px;
}

#grupo p{
    font-size: 10px;
    text-align: center;
    margin-top: 0;
}

#estadios-copa{
    background-color:#002752;
    height: 300px;
    width: 83%;
    overflow: hidden;
    padding: 0;
    border-radius: 3px;
    margin-top: -5px;
}

#estadios-copa-1{
    margin-top: -60px;
}

#estadios-copa-1 h3{
    color: #005cbf;
    padding: 15px;
    font-weight: bold;
    text-align: center;
}

#estadios-copa-1 hr{
    margin-top: -15px;
    border: solid 0.5px #005cbf;
}

.mobile .desktop-hide h5{
    color: #fefefe;
    font-size: 12px;
}

@media only screen and (max-width: 400px) {
    .mobile-hide{ display: none !important; }
}
@media only screen and (max-width: 400px) {
    .mobile{
        display: inline !important;
    }
}
@media only screen and (min-width: 500px) {
    .desktop-hide{ display: none !important; }
}

#link-estadios-copa a .estadio-copa:hover{
    background-color: #fefefe;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

#noticias{
    margin-top: 10px;
    width: 100%;
    margin-bottom: -20px;
    padding: 0;
    color: white;
}

#noticias h3{
    color: #005cbf;
    padding: 15px;
    font-weight: bold;
    text-align: center;
}

#noticias hr{
    margin-top: -15px;
    border: solid 0.5px #005cbf;
}

#noticias .row{
    padding: 15px;
    margin-top: -15px;
}

.selecao-noticia {
    font-size: 10px;
    color: #6c757d;
    margin-top: 5px;
}

.conteudo-noticia {
    margin-top: -10px;
    color: #002752;
}

#rodape{

    margin-top: 40px;
    height: auto;
    background-color: #002752;
    padding: 10px;
}

#rodape .container h3{
    color: #fefefe;
    margin-left: -10px;
}

#rodape .container h5{
    color: #fefefe;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 12px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #337ab7; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    margin-bottom: -10px;
    box-shadow: #6c757d 1px;
}

#myBtn:hover {
    background-color: #b4b5a9;
    image-rendering: auto;
    color: #fefefe;
}

.carousel{
    /*background: #2f4357;*/
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}

/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}

img { max-width:100%; }

a {
    -webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
	}
    
a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}

.thumbnails li> .fff .caption { 
    background:#fff !important; 
    padding:10px
}

/* Page Header */
.page-header {
    /*background: #f9f9f9;*/
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
}
    
.page-header h3 {
    line-height: 0.88rem;
    color: #000;
}

ul.thumbnails { 
    margin-bottom: 0px;
}

/* Thumbnail Box */
.caption h4 {
    color: #444;
}

.caption p {  
    color: #999;
}
