body{
    border-top:0;
}

#app{
    width: 100%;
    height: auto;
    position: absolute;
}

#cabecalho{
    padding: 0px;
}


#linha-titulo-site{
    right: 0;
    left: 0;
    background-color: #002752;
}

.logo-site{
    margin-top: 15px;
    margin-bottom: 15px;
}


#titulo-site h3{
    color: #fefefe;
    margin-left: -10px;

}

#linha-menu{
    background-color: #005cbf;
}

nav #links-menu{
    margin-top: 10px;
}

nav #links-menu ul li a{
    color: #fefefe;
    background-color: #002752;
}

nav #links-menu ul li a:hover{
    color: #005cbf;
    background-color: #002752;
}

nav #links-menu ul li a:active{
    color: #005cbf;
}

#principais-selecoes{
    height: 480px;
    padding: 15px 15px;
    margin-top: 10px;
}

#col-1-img-selecoes{
    width: 125px;
    /*margin-left: 15px;*/
}
#col-2-img-selecoes{
    width: 125px;
    margin-left: 15px;
}

#principais-selecoes .col-md-2 {
    margin-right: -50px;
}

#img-selecao-grande {
    background-color: #002752;
    width: 830px;
    height: 390px;
    margin: 5px;
    margin-left: 25px;
    border-radius: 3px;
    padding: 0;
    overflow: hidden;
}

#img-selecao-grande img{
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 1.0s;
}

#img-selecao-grande:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .5;
}

#img-selecao-grande:hover .text-item {
    color: #17a2b8;
    font-size: 35px;
    transition: all 0.5s;

}


.text-item {
    position: sticky;
    margin-left: 40px;
    bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    text-shadow: 0 0px 15px rgba(0, 0, 0, 1);
}

.saiba-mais-principais{
    position: absolute;
    bottom: 20px;
    left: 5%;
    color: #002752;
    font-weight: 500;
    text-decoration: none;
    background-color:#fefefe;
    padding: 5px;
    border-radius: 3px;
}


.img-selecao{
    background-color: #002752;
    width: 130px;
    height: 90px;
    margin: 5px 0px;
    padding: 0;
    border-radius: 3px;
}

.img-selecao:hover {
    background-color: black;
}

.img-mini-selecao{
    width: 130px;
    height: 90px;
    opacity: .5;
    border-radius: 3px;
}

.img-selecao p{
    color: #fefefe;
    margin: 10px;
    position: absolute;
    font-weight: bold;
}

#slide{
    width: 100%;
    height: 400px;
    background-color: #6c757d;
}

.setas-selecao{
    display: none;
}

.titulo-pagina{
    color: #002752;
    padding: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}

.linha-titulo-pagina{
    border: solid 0.5px #002752;
    width: 96%;
    margin-left: 5px;
    margin-top: -15px;
    margin-bottom: 10px;
}

#grupo{
    height: 250px;
    width: 250px;
    border-radius: 15px;
    margin-left: 27px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px 1px #4e555b;
    background-image: url(../img/bkgd-grupos.png);

}

#grupo h5{
    width: 100%;
    display: block;
    color: #005cbf;
    border-radius: 5px 5px 0px 0px;
    font-size: 20px;
    line-height:  25px;
    padding: 0 5px;
    margin-top: 0;
    margin-bottom: -10px;
    text-align: center;
}

#grupo hr{
    border: solid 0.5px #005cbf;
}

#grupo img{
    width: 90px;
    margin-top: -20px;
    margin-left: 20px;
}

#grupo p{
    font-size: 10px;
    text-align: center;
    margin-top: 0;
}

#estadios-copa{
    background-color:#002752;
    height: 300px;
    width: 83%;
    overflow: hidden;
    padding: 0;
    border-radius: 3px;
    margin-top: -5px;
}

#estadios-copa-1{
    margin-top: -60px;
}

#estadios-copa-1 h3{
    color: #005cbf;
    padding: 15px;
    font-weight: bold;
    text-align: center;
}

#estadios-copa-1 hr{
    margin-top: -15px;
    border: solid 0.5px #005cbf;
}

.mobile .desktop-hide h5{
    color: #fefefe;
    font-size: 12px;
}

@media only screen and (max-width: 400px) {
    .mobile-hide{ display: none !important; }
}
@media only screen and (max-width: 400px) {
    .mobile{
        display: inline !important;
    }
}
@media only screen and (min-width: 500px) {
    .desktop-hide{ display: none !important; }
}

#link-estadios-copa a .estadio-copa:hover{
    background-color: #fefefe;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

#noticias-responsive{
    margin-bottom: -30px;
}

#noticias{
    margin-top: 10px;
    width: 100%;
    margin-bottom: -20px;
    padding: 0;
    color: white;
}

#noticias h3{
    color: #005cbf;
    padding: 15px;
    font-weight: bold;
    text-align: center;
}

#noticias hr{
    margin-top: -15px;
    margin-left: 0px;
    border: solid 0.5px #005cbf;
}

#noticias .row{
    padding: 15px;
    margin-top: -15px;
}

.selecao-noticia {
    font-size: 10px;
    color: #6c757d;
    margin-top: 5px;
}

.conteudo-noticia {
    margin-top: -10px;
    color: #002752;
}

.card{
    width: 100%;
    height: auto;
    border: solid 1px #005cbf;
    padding: 10px;
    border-radius: 5px;
    margin-left: 0px;
    margin-top: 10px;

}

.card img{
    width: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black;
}


.progress{
    width: 100%;
    height: 15px;
    background-color:#005cbf;
    margin-top: -5px;
    margin-bottom: 0px;
}

.progress .status{
    background: #6892ff;
    color: #fefefe;
    float: left;
    width: 90%;
    height: 100%;
    padding-left: 5px;
    font-size: 12px;
    line-height: 1.5;
}

@media screen and (max-width:360px){
    p.selecao-card{
        font-size: 15px;
        margin-left: 0px;
    }

    div.progress{
        margin-left: 0px;
    }

    h2.titulo-pagina{
        text-align: center;
    }

    div.card{
        padding-left: 0;
    }

    img.logo-site{
        width: 165px;
    }

    .navbar-header{
        margin-top: -60px;
    }

    #img-selecao-grande{
        width: 100%;
        height: 45%;
        margin-left: 0px;
    }

    .col-md-2{
        display: none;
    }

    .text-item{
        font-size: 18px;
        padding: 0px;
        border-radius: 5px;
        text-align: center;
        background-color: #fefefe;
        width: 75%;
        color: #005cbf;
        text-shadow: 0 0px 0px rgba(0, 0, 0, 0);
        box-shadow: 0px 0px 10px 1px black;
    }

    .saiba-mais-principais{
        font-size: 10px;
        margin-left: 110px;
        margin-bottom: -10px;
        box-shadow: 0px 0px 1px 0spx black;
    }

    #img-selecao-grande:hover .text-item {
        color: #17a2b8;
        font-size: 25px;
    }

    .setas-selecao{
        display: block;
        margin-left: 60px;
    }

    #principais-selecoes{
        margin-bottom: -170px;
    }

    #img-selecao-grande{
        overflow: hidden;
    }

    #img-selecao-grande img{
        max-width: 120%;
    }

    #grupo{
        margin-left: 43px;
    }
}

#rodape{
    margin-top: 40px;
    height: auto;
    background-color: #002752;
    padding: 10px;
}

#rodape .container h3{
    color: #fefefe;
    margin-left: -10px;
}

#rodape .container h5{
    color: #fefefe;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 12px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #337ab7; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    margin-bottom: -10px;
    box-shadow: #6c757d 1px;
}

#myBtn:hover {
    background-color: #b4b5a9;
    image-rendering: auto;
    color: #fefefe;
}

.carousel{
    /*background: #2f4357;*/
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}

/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}

img { max-width:100%; }

a {
    -webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;
	}

a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}

.thumbnails li> .fff .caption {
    background:#fff !important;
    padding:10px
}

/* Page Header */
.page-header {
    /*background: #f9f9f9;*/
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
}

.page-header h3 {
    line-height: 0.88rem;
    color: #000;
}

ul.thumbnails {
    margin-bottom: 0px;
    margin-left: -30px;
}

/* Thumbnail Box */
.caption h4 {
    color: #444;
}

.caption p {
    color: #999;
}

.barra1, .barra2, .barra3, .barra4{
color:#FFF;
padding-left:10px;
height:30px;
line-height:30px;
}

.barra1{ background-color: #FF0000; }
.barra2{ background-color: #0000FF; }
.barra3{ background-color: #FF6600; }
.barra4{ background-color: #009933; }

/*Config página extras*/
.extra{
    width: 260px;
    height: auto;
    background-color: #f1ebe3;
    margin-top: 20px;
    margin-left: 20px;
    padding: 15px;
    border-radius: 5px;
}

.extra-img{
    overflow: hidden;
    height: 150px;
    border-radius: 5px;
}

.extra img{
    max-width: 120%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 5px;
}

.extra img:hover{
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    overflow: hidden;
}

.extra-info{
    padding: 0px;
}

.extra-tipo{
    margin-top: 10px;
}

.extra-tipo p{
    background-color: #005cbf;
    color: #fefefe;
    padding: 5px;
    text-align: center;
    font-size: 10px;
    border-radius: 5px;
}

.extra-texto{
    width: 100%;
    font-size: 12px;
}

.extra-leia-mais p{
    margin-bottom: 0px;
}


@media screen and (max-width:360px){

    .extra{
        width: 250px;
        height: auto;
        background-color: #f1ebe3;
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
        left: 34px;
        overflow: hidden;
    }

    .extra-tipo p{
        font-size: 8px;
        color: #fefefe;
        padding: 3px;
    }

    .extra-texto {
        font-size: 12px;
        text-align: left;
        margin-top: -5px;
    }

    .extra-leia-mais{
        font-size: 12px;
    }

    #noticias-responsive{
        height: 1700px;

    }

}

#menu-selecao {
    margin-left: -15px;
}

#menu-selecao a{
    font-size: 12px;
    padding: 4px;
}

.titulo-selecao .col-md-12 a{
    margin-left: 5px;
}

#botaoMostrarResultados{
    margin-top: 10px;
}

article{
    width: 200px;
    height: 400px;
    object-fit: cover;
} 

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
    right: 0%;
    margin-right: 70px;    
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
    left: 0%;
    margin-left: 70px;        
}


